.vscode/
.DS_Store
node_modules/
/.cache
/build
app/styles
.scratch
logs
run
coverage
Dockerfile
.gitignore
package-lock.json
pnpm-lock.yaml
dist
node_modules
README.md
artifacts
cache
cache_hardhat
typechain-types
lib
out
node_modules
_
c50.json